{% extends "master.html" %}
{% block title %}{{package.name}}{% endblock %}
{% block content %}
<h1>{{package.name}}</h1>

<div id="nav">
    <a href="#description">Description</a> &nbsp; | &nbsp; <a href="#releases">Releases</a>
</div>

{% if package.description %}
<div id="description">{{package.description}}</div>
{% else %}
<div id="description">{{package.releases[0].description}}</div>
{% endif %}

<h2 id="releases">Releases</h2>
{% for rel in package.releases %}
<div class="release-meta">
    <strong>Version</strong> {{ rel.version }}<br />
    <strong>Platform</strong> {{ rel.platform }}<br />
    <strong>License</strong> {{ rel.license }}<br />
    <strong>Author</strong> {{ rel.author.full_name }}<br />
    <strong>Date</strong> {{ rel.updated }}<br />
</div>
<table class="file-list">
    <thead>
        <th>File</th>
        <th>Type</th>
        <th>Python Version</th>
        <th>MD5</th>
        <th>Comment</th>
    </thead>
    <tbody>
        {% for file in rel.files %}
        <tr>
            <td><a href="{{url_for('download', package=package.name, filename=file.filename) }}#md5={{file.md5_digest}}">{{ file.filename }}</a></td>
            <td>{{ file.filetype}}</td>
            <td>{{ file.pyversion }}</td>
            <td>{{ file.md5_digest }}</td>
            <td>{{ file.comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}
