<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Private Package Index [simple] - Releases for {{package.name}}</title>
    </head>
    <body>

        <table border="1">
            <thead>
                <tr>
                   <th>Homepage</th>
                   <th>Filename</th>
                   <th>MD5</th>
                </tr>
            </thead>
            <tbody>
                {% for rel in package.releases %}
                    {% for file in rel.files %}
                        <tr>
                            <td><a rel="homepage" href="{{rel.home_page}}">{{rel.home_page}}</a></td>
                            <td><a href="{{url_for('download', package=package.name, filename=file.filename) }}#md5={{file.md5_digest}}">{{ file.filename }}</a></td>
                            <td>{{ file.md5_digest }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>


    </body>
</html>

